*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/dev

/.idea
# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
fastlane/README.md
fastlane/build

#Authentication
signing.jks
gc_fastlane_keys.json
signing.gradle

#Serverside
Vendor

